body > div.min-h-screen.bg-gray-100.dark\:bg-gray-900 > nav > div.max-w-7xl.mx-auto.px-4.sm\:px-6.lg\:px-8{
    background-color: black;
}
.dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: #fffaed;
}
.container{
    padding:2em;
}